version: '3.8'

services:
  frontend:
    container_name: convertiq_frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
    volumes:
      - ./frontend_data:/app/data
